@model ECommerceProject.AdminUI.Models.Order.ListOrdersViewModel
@{
    ViewData["Title"] = "Edit";
    Layout = null;

}

<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title"></h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                            
            </div>
        </div>
    </div>
</div>
@*@Html.HiddenFor(x=>x.OrderId)*@
<div class="row">
    <div class="col-md-12">
        <input type="text" name="f" value="g" />

    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <input type="text" name="f" value="g" />

    </div>
</div><div class="row">
    <div class="col-md-12">
        <input type="text" name="f" value="g" />

    </div>
</div><div class="row">
    <div class="col-md-12">
        <input type="text" name="f" value="g" />

    </div>
</div><div class="row">
    <div class="col-md-12">
        <input type="text" name="f" value="g" />

    </div>
</div><div class="row">
    <div class="col-md-12">
        <input type="text" name="f" value="g" />

    </div>
</div><div class="row">
    <div class="col-md-12">
        <input type="text" name="f" value="g" />

    </div>
</div><div class="row">
    <div class="col-md-12">
        <input type="text" name="f" value="g" />

    </div>
</div><div class="row">
    <div class="col-md-12">
        <input type="text" name="f" value="g" />

    </div>
</div><div class="row">
    <div class="col-md-12">
        <input type="text" name="f" value="g" />

    </div>
</div><div class="row">
    <div class="col-md-12">
        <input type="text" name="f" value="g" />

    </div>
</div><div class="row">
    <div class="col-md-12">
        <input type="text" name="f" value="g" />

    </div>
</div>
@*@Html.DropDownListFor(x => x.OrderId, Model.EnumOrderStates, new { @class = "form-control" })*@
