@model IEnumerable<ECommerceProject.AdminUI.Models.Order.ListOrdersViewModel>
@{
   
    ViewData["Title"] = "Index";
    Layout = Layout;
}

<div id="PlaceHolderHere"></div>
<div id="OrderListContainer">
    @await Component.InvokeAsync("OrderList")
</div>
