@model IEnumerable<ECommerceProject.AdminUI.Models.Order.ListOrdersViewModel>
@{
    ViewData["Title"] = "Index";
    Layout = Layout;
}
@section scripts {
    <script src="~/assets/libs/jquery/dist/jquery.min.js"></script>
        <script src="~/assets/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script>
            $(function () {
                var placeHolderElement = $("#PlaceHolderHere");
                $('button[data-toggle="ajax-modal"]').click(function (event) {
                    var url = $(this).data("url");
                    var decodeUrl = decodeURIComponent(url);
                    $.get(decodeUrl).done(function (data) {
                        placeHolderElement.html(data);
                        placeHolderElement.find(".modal").modal('show');
                    });
                });
            
                placeHolderElement.on("click", 'button[data-save="modal"]', function (event) {
                    event.preventDefault();
                    var form = $(this).parents(".modal").find('form');
                    var actionUrl = form.attr("action");
                    var sendData = form.serialize();
                    $.post(actionUrl, sendData).done(function (data) {
                        placeHolderElement.find(".modal").modal('hide');
                         $.get("/Order/OrderListInvoke", function (result) {
                            $("#OrderListContainer").html(result); 
                        });
                    });
                });
            }) 
            </script>
}
<div id="PlaceHolderHere"></div>
<div id="OrderListContainer">
    @await Component.InvokeAsync("OrderList")
</div>
