@model IEnumerable<ECommerceProject.AdminUI.Models.Order.ListOrdersViewModel>
@{
    Layout = Layout;
    ViewData["Title"] = "Index";
}

<div id="PlaceHolderHere"></div>
<div id="OrderListContainer">
    @await Component.InvokeAsync("OrderList")
</div>
 