@model ECommerceProject.AdminUI.Models.AdminRole.ViewUsersViewModel

<div class="modal" tabindex="-1" role="dialog" id="UpdateUserRole">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Change Role For @Model.UserName</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form asp-controller="AdminUsers" asp-action="ChangeRole">
                    @Html.HiddenFor(x => Model.UserId)
                    <div class="form-group">
                        <div class="form-control">@Model.UserName</div>
                    </div>
                    <div class="form-group" id="IdForRole">
                        @Html.DropDownListFor(x => x.RoleName, Model.Roles, "Select A Role", new {@class = "form-control"})
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-save="modal">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>