@model IEnumerable<ECommerceProject.AdminUI.Models.AdminRole.ViewUsersViewModel>


<div class="modal" tabindex="-1" role="dialog" id="UsersInRole">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Users in Role</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <table class="table table-hover text-center">
                        <thead>
                        <tr>
                            <th>Username</th>
                        </tr>
                        </thead>
                        <tbody>

                        @foreach (var users in Model)
                        {
                            <tr>
                                <td>@users.UserName</td>
                            </tr>
}
                       
                        </tbody>
                       
                    </table>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

