@model ECommerceProject.WebUI.Models.ViewComponent.ProductFilter.ProductFilterViewModel

<!-- aside Widget -->
    <div class="aside">
        <h3 class="aside-title">Categories</h3>
        <form asp-controller="Category" asp-action="ListCategoryProducts" method="post">
            <input asp-for="CategoryId" type="hidden"/>
            @Html.DropDownListFor(x => x.SearchCategoryId, Model.Categories, "Select a Sub Category", new {@class = "form-control"})
            <button type="submit" value="Submit">Search</button>
        </form>
        @Html.TextBoxFor(x => x.Min, new { placeholder = "Minimum", @class = "form-control" })
        @Html.TextBoxFor(x => x.Max, new { placeholder = "Maximum", @class = "form-control" })
    </div>
<!-- /aside Widget -->
