<div class="store-filter clearfix">
    <span class="store-qty">Showing @Model.TotalItems products in total</span>

    <cs-pager cs-paging-pagenumber="Model.PageNumber"
              cs-paging-totalitems="Model.TotalItems"
              cs-paging-pagesize="Model.PageSize"
              cs-pagenumber-param="pageIndex"
              asp-controller="Category"
              asp-action="ListCategoryProducts"
               
    >

    </cs-pager>

</div>