@model IEnumerable<ECommerceProject.WebUI.Models.ViewComponent.NavigationViewModel>
<!-- NAVIGATION -->
<nav id="navigation">
    <!-- container -->
    <div class="container">
        <!-- responsive-nav -->
        <div id="responsive-nav">
            <!-- NAV -->
            <ul class="main-nav nav navbar-nav">
                <li class="active"><a href="#">Cell Phones</a></li>
                <li><a href="#">Computer</a></li>
                <li><a href="#">Computer Parts</a></li>
                <li><a href="#">Cameras</a></li>
                <li><a href="#">TV & Home Electronics</a></li>
                <li><a href="#">Office Tools</a></li>
                <li><a href="#">Hobbies</a></li>
            </ul>
            <!-- /NAV -->
        </div>
        <!-- /responsive-nav -->
    </div>
    <!-- /container -->
</nav>
<!-- /NAVIGATION -->