@model ECommerceProject.AdminUI.Models.SearchBar.SearchForUsersViewModel
<form asp-controller="AdminUsers" asp-action="Search" method="post">

   
    @* <input type="hidden" name="UserName" value="@ViewData["UserName"]"/> *@
    @* <input type="hidden" name="RoleName" value="@ViewData["RoleName"]"/> *@

    <div class="row">
        <div class="col-sm">
         @Html.TextBoxFor(x => x.UserName,  new {placeholder = "Username", @class = "form-control"})
        </div>
        <div class="col-sm">
           @Html.DropDownListFor(x => x.RoleName, Model.Roles, "Select a Role", new {@class = "form-control"}) 
        </div>
        <div class="col-lg-2">
            <button type="submit" value="Submit" class="btn btn-secondary">Search For User</button> 
            </div>
        </div>
   





</form>