<div id="top-header">
    <div class="container">
       
        <ul class="header-links pull-right">
         
                @if (User.Identity.IsAuthenticated)
                {
                    <li> <i class="fa fa-user-o"></i><a asp-controller="Account" asp-action="MyAccount">My Account</a></li>
                
                 } 
            <li><a href="#"><i class="fa fa-user-o"></i>@if (User.Identity.IsAuthenticated)
                                                        {
                                                            <a asp-controller="Account" asp-action="Logout">Logout</a>
                                                        }
                                                        else
                                                        {
                                                            <a href="/Account/Login">Login</a>
                                                        }</a></li>
        </ul>
    </div>
</div>
