@model ECommerceProject.AdminUI.Models.Category.AddCategoryViewModel
@{
    ViewData["Title"] = $"Update Product '{Model.Title}' ";
}


<form asp-controller="Category" asp-action="UpdateCategory"method="post" class="m-5">
    <input asp-for="CategoryId" hidden/>
    <input asp-for="ParentCategoryId" hidden/>
  
    <div class="row">
        <div class="form-group ">
            <p>This page updates the category.</p>
  
            <label asp-for="Title"></label>
            <input asp-for="Title" class="form-control" />
            <br />
            <button asp-action="Index" asp-controller="Category" class="btn btn-secondary">Cancel</button>
            <button type="submit" value="submit" class="btn btn-success">Submit</button>
        </div>

    </div>
</form>
