<div class="container">
    <div class="row">
        <div class="col-sm">
            @await Component.InvokeAsync("Carousel")
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-sm">
            @await Component.InvokeAsync("NewProducts")
        </div>
    </div>
</div>
@await Component.InvokeAsync("Featured")
<div class="container">
    <div class="row">
        <div class="col-sm">
            @await Component.InvokeAsync("Explore")
            
        </div>
    </div>
</div>
