@model Microsoft.AspNetCore.Identity.IdentityRole


<div class="container">
    <div class="row">
        <div class="form-control">
            <form asp-action="CreateRole" asp-controller="AdminRole" method="post">
                @Html.TextBoxFor(x => x.Name)
                <button type="submit" value="Submit" class="btn btn-succes">Create Role</button>
                <a asp-action="Index" asp-controller="AdminRole" class="btn btn-secondary">Return</a>
              </form>
        </div>
    </div>
</div>