@model IEnumerable<ECommerceProject.AdminUI.Models.AdminRole.AdminRoleIndexModel>

<a class="btn btn-primary m-1" asp-controller="AdminRole" asp-action="CreateRole">Create A Role</a>
    <table class="table-striped table table-sm text-center font-weight-bold">
        <tr>
            <th>Role ID</th>
            <th>Role Name</th>
            <th>Users</th>
            <th>Options</th>
           

        </tr>

        @foreach (var role in Model)
        { 
    <tr>
        <td>@role.Id</td>
        <td>@role.Name</td>
        <td identity-role="@role.Id"></td>
        <td></td>

    </tr>
        }
    </table>