
<!-- SEARCH BAR -->
<div class="col-md-6">
    <div class="header-search">
        <form asp-controller="Product" asp-action="Search" method="post">
            <input class="input" name="searchFor" value="@ViewData["searchFor"]" placeholder="Search here">
            <button class="search-btn">Search</button>
            
        </form>
    </div>
</div>
<!-- /SEARCH BAR -->